@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>


        <article class="py-8">

            @Body

        </article>
    </main>
</div>
